// Kanagawa colors: https://github.com/rebelot/kanagawa.nvim/blob/master/lua/kanagawa/colors.lua
$dragonBlackTrans0: rgba(13 12 12 / 0.8);

$dragonBlack0: #0d0c0c;
$dragonBlack1: #12120f;
$dragonBlack2: #1D1C19;
$dragonBlack3: #181616;
$dragonBlack4: #282727;
$dragonBlack5: #393836;
$dragonBlack6: #625e5a;

$dragonWhite: #c5c9c5;
$dragonGreen: #87a987;
$dragonGreen2: #8a9a7b;
$dragonPink: #a292a3;
$dragonOrange: #b6927b;
$dragonOrange2: #b98d7b;
$dragonGray: #a6a69c;
$dragonGray2: #9e9b93;
$dragonGray3: #7a8382;
$dragonBlue2: #8ba4b0;
$dragonViolet: #8992a7;
$dragonRed: #c4746e;
$dragonAqua: #8ea4a2;
$dragonAsh: #737c73;
$dragonTeal: #949fb5;
$dragonYellow: #c4b28a;

* {
  font-family: 'VictorMono Nerd Font', monospace;
  background-color: transparent;
}

box,
button,
label,
stack,
widget {
  all: unset;
}

progress {
  border-color: $dragonOrange;
}

trough {
  border-color: $dragonBlack0;
}

/* Base styles for bar modules */
.bar-module,
.music,
.time {
  background-color: $dragonBlackTrans0;
  border-radius: 10px;
  font-size: 10px;
  padding: 3px 8px;
}

/* Workspace buttons */
/* Inactive workspace button */
.ws-inactive {
  color: $dragonBlack5;
}

/* Active workspace button */
.ws-active {
  color: $dragonGreen;
}

/* Hover effect for inactive buttons */
.ws-inactive:hover {
  color: $dragonGreen2;
}

/* Music styling */
.music-button:hover>.music {
  border: 1px solid $dragonWhite;
  padding: 2px 7px;
}

.music-details {
  color: $dragonGreen;
  font-style: italic;
}

.music-icon {
  color: $dragonOrange;
}

/* Time styling */
.time {
  color: $dragonGreen;
  font-style: italic;
}
